.buysection {
    padding-bottom: 6em;

    .mess-cripto {
        color: #006ca7;
        border-radius: 0.8rem;
        border-color: #006ca7 !important;
    }

    .buytab {
        .nav-item {
            &:last-child {
                margin-left: auto;
            }

            .nav-link {
                color: #0088C3;

                @media(max-width:374px) {
                    padding: 8px;
                }
            }

            .nav-link.active {
                background-color: #0088C3;
                color: #fff;
                border-radius: 0;
            }
        }


    }

    .tab-content {
        .image-slider {
            @media(max-width:767px) {
                flex-flow: wrap;

                .payment-imagis {
                    margin-bottom: 15px;
                }
            }
        }

        .payment-imagis {
            cursor: pointer;
            margin-right: 10px;

            span {
                position: initial !important;
            }

            img {
                position: initial !important;
                width: initial !important;
                height: initial !important;
                margin: 0 !important;
                min-width: 100px !important;
                max-width: 100px !important;
                min-height: 30px !important;
                max-height: 30px !important;
                width: 100px !important;
                height: 30px !important;
                object-fit: contain;
                object-position: center;
            }
        }

        .range-slide {
            .bluebtn {
                border-radius: 0;
                background-color: #006ca7;
            }
        }

        .searchbox {
            margin-top: 20PX;

            .form-input {
                border-radius: 0;
            }

            .bluebtn {
                border-radius: 0;
                background-color: #0088C3;
            }
        }

        .line-after {
            text-align: center;

            h2 {
                text-align: center;
                color: black;
                font-size: 18px;
                position: relative;
                display: inline-block;
            }

            h2:before {
                content: "";
                display: block;
                width: 110px;
                height: 1px;
                background: #c0c2c4;
                left: 40px;
                top: 50%;
                position: absolute;
            }

            h2:after {
                content: "";
                display: block;
                width: 110px;
                height: 1px;
                background: #c0c2c4;
                right: 40px;
                top: 50%;
                position: absolute;
            }


        }
    }
}

// usd section
.img-sect,
.usd-detail {
    span {
        position: initial !important;
    }

    img {
        max-width: 56px !important;
        min-width: 56px !important;
        max-height: 50px !important;
        min-height: 50px !important;
        object-fit: contain;
        object-position: center;
        position: initial !important;
        width: initial !important;
        height: initial !important;
    }
}

.usd-detail {
    .row {
        width: 55%;
        margin: auto;

        @media(max-width:1360px) {
            width: 80%;
        }

        @media(max-width:991px) {
            width: 100%;
        }
    }
}

.usd-card {
    background-color: #fff;
    border: 1px solid #373a3c;
    border-radius: 0.8rem;
    color: #f8f9fa;
    font-size: 20px;
    font-weight: 700;

    .bg-secondary {
        background-color: #195680 !important;
        border-radius: 0.8rem 0.8rem 0 0;
        padding: 28px 0;

        img {
            max-width: 24px !important;
            min-width: 24px !important;
            max-height: 24px !important;
            min-height: 24px !important;
        }
    }

    .bg-buy {
        background-color: #195680 !important;
        border-radius: 0 0 0.8rem 0.8rem;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

// buy detail
.buy-detail {
    padding: 5em 0 120px 0;

    h2 {
        font-size: 30px;
        font-weight: 300;

        @media(max-width:374px) {
            font-size: 24px;
        }
    }

    table {

        th,
        td {
            padding: 12px 8px;
        }

        thead {
            background-color: #0088C3;
            color: #fff;
        }

        tbody {
            tr {
                &:hover {
                    background-color: #e6f2f8;
                }

                span {
                    position: initial !important;
                    display: flex !important;
                }

                img {
                    max-width: 18px !important;
                    min-width: 18px !important;
                    max-height: 18px !important;
                    min-height: 18px !important;
                    object-fit: cover;
                    object-position: center;
                    position: initial !important;
                    width: initial !important;
                    height: initial !important;
                    display: inline-block !important;
                }
            }
        }

        tfoot {
            tr {
                &:last-child {
                    background-color: #b8d6e6;
                }
            }
        }
    }

    .warning-mess {
        color: #853d0c;
        background-color: #ffe3d1;
        border-color: #ffd8be;

        p {
            font-weight: 500;
        }
    }

    select {
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .btnContinue {
        border-radius: 0;
        background-color: #0088C3;

        &:first-child {
            background-color: #b8d6e6;
            border-color: #b8d6e6;
            color: #000;

            &:hover {
                background-color: #b8d6e6;
            }
        }

        &:hover {
            background-color: #0088C3;
        }
    }
}

// buy detail
.buy-detail {
    padding: 5em 0 120px 0;

    h2 {
        font-size: 30px;
        font-weight: 300;

        @media(max-width:374px) {
            font-size: 24px;
        }
    }

    table {

        th,
        td {
            padding: 12px 8px;
        }

        thead {
            background-color: #0088C3;
            color: #fff;
        }

        tbody {
            tr {
                &:hover {
                    background-color: #e6f2f8;
                }

                span {
                    position: initial !important;
                    display: flex !important;
                }

                img {
                    max-width: 18px !important;
                    min-width: 18px !important;
                    max-height: 18px !important;
                    min-height: 18px !important;
                    object-fit: cover;
                    object-position: center;
                    position: initial !important;
                    width: initial !important;
                    height: initial !important;
                    display: inline-block !important;
                }
            }
        }

        tfoot {
            tr {
                &:last-child {
                    background-color: #b8d6e6;
                }
            }
        }
    }

    .warning-mess {
        color: #853d0c;
        background-color: #ffe3d1;
        border-color: #ffd8be;

        p {
            font-weight: 500;
        }
    }

    select {
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .btnContinue {
        border-radius: 0;
        background-color: #0088C3;

        &:first-child {
            background-color: #b8d6e6;
            border-color: #b8d6e6;
            color: #000;

            &:hover {
                background-color: #b8d6e6;
            }
        }

        &:hover {
            background-color: #0088C3;
        }
    }
}




// payment form

.hideform {
    display: none;
}

.show {
    .hideform {
        display: block;
    }
}

.paymentbtn {
    display: none;
}

.payment-form {
    max-width: 1000px;
    box-shadow: 0px 0px 0px 0.5px rgb(50 50 93 / 10%), 0px 2px 5px 0px rgb(50 50 93 / 10%), 0px 1px 1.5px 0px rgb(0 0 0 / 7%);
    border-radius: 0px;
    padding: 40px;

    h4 {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }

    .form-label {
        font-weight: bold;
        font-size: 15px;
    }

    .Black-btn {
        background-color: #0088C3;
        border: 1px solid #0088C3;
        color: #fff;
        border-radius: 72px;
        padding: 0.675rem 2rem;
        font-size: 0.9375rem;
        line-height: 1.5;
        font-weight: 700;
        cursor: pointer;
        transition: 0.4s;
        text-transform: uppercase;
        width: auto;

        &:hover {
            background-color: transparent;
            border: 1px solid #0088C3;
            color: #0088C3;
        }
    }

    .form-check {
        label {
            font-weight: bold;
        }
    }

    .g-recaptcha {
        @media(max-width:375px) {
            -webkit-transform: scale(0.77);
            -moz-transform: scale(0.77);
            -ms-transform: scale(0.77);
            -o-transform: scale(0.77);
            transform: scale(0.77);
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            -o-transform-origin: 0 0;
            transform-origin: 0 0;
        }
    }
}

// saved card


.savedcard-form {
    max-width: 1000px;
    box-shadow: 0px 0px 0px 0.5px rgb(50 50 93 / 10%), 0px 2px 5px 0px rgb(50 50 93 / 10%), 0px 1px 1.5px 0px rgb(0 0 0 / 7%);
    border-radius: 0px;
    padding: 40px;
    overflow-y: scroll;
    height: 800px;

    h4 {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }
}

.bg-buy-blue {
    background-color: #0088C3 !important;
    border-color: #006ca7 !important;
}

.bg-buy-blue:hover{
    background-color: #0a4d8c !important;
}