      .box-shadow {
          box-shadow: inset 0 0 25px #666565,
              3px 3px 5px 0 #ccc;
      }

      .forgotpassword-page {
          margin: 80px 0;
          max-width: 50%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          flex-direction: column;

          .logo {
              margin-bottom: 90px;
              cursor: pointer;

              span {
                  position: initial !important;

                  @media (max-width:575px) {
                      justify-content: center;
                      display: flex !important;
                  }
              }

              img {
                  position: absolute;
                  top: initial !important;
                  left: initial !important;
                  bottom: initial !important;
                  right: initial !important;
                  margin: initial !important;
                  min-width: 250px !important;
                  max-width: 250px !important;
                  min-height: 90px !important;
                  max-height: 90px !important;

                  @media(max-width:575px) {
                      min-width: 290px !important;
                      max-width: 290px !important;
                      min-height: 90px !important;
                      max-height: 90px !important;
                  }
              }

          }

          @media(max-width:1439px) {
              max-width: 90%;
          }

          @media(max-width:991px) {
              max-width: 60%;
              padding: 40px 0;
          }

          @media(max-width:575px) {
              padding: 40px 20px;
              margin: 40px 0;
              max-width: 100%;
          }

          h4 {
              color: #11232d;
              font-size: 30px;
              font-weight: bolder;
              padding-top: 30px;

              @media(max-width:575px) {
                  font-size: 27px;
              }
          }

          p {
              color: #11232d;
              font-size: 18px;
          }

          .forgot-form {
              label {
                  font-size: 18px;
                  font-weight: bolder;
              }

              input.form-input {
                  padding: 12.5px 14px;
                  margin: 5px 0;

                  &:focus {
                      box-shadow: none;
                      border: 1px solid #11232d;
                  }
              }

              .Black-btn {
                  background-color: #0088C3;
                  border: 1px solid #0088C3;
                  color: #fff;
                  border-radius: 72px;
                  padding: 0.675rem 2rem;
                  font-size: 0.9375rem;
                  line-height: 1.5;
                  font-weight: 700;
                  cursor: pointer;
                  transition: 0.4s;
                  text-transform: uppercase;
                  margin-bottom: 30px;

                  &:hover {
                    background-color: #BAE3FF;
                    border: 1px solid #BAE3FF;
                    color: #11232d;
                  }
              }

              .links {
                  color: #0088C3;
                  margin: 0 0 10px;

                  span {
                      color: #11232d;
                  }

                  a {
                      text-decoration: none;
                      margin: 5px 0;
                      color: #0088C3;
                      font-size: 18px;
                      font-weight: bold;
                  }
              }
          }
      }

      .background-color {
          flex-direction: column;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          width: 100%;
          height: 100vh;
          position: relative;
          text-align: start;
          margin: 0;
          padding-left: 104px;
          padding-right: 104px;
          opacity: 1;
          overflow: hidden;

          @media(max-width:991px) {
              display: none;
          }

          .login-img {
              span {
                  position: initial !important;
              }

              img {
                  object-fit: contain;
                  object-position: center;
                  top: initial !important;
                  bottom: initial !important;
                  left: initial !important;
                  right: initial !important;
                  min-width: 80% !important;
                  max-width: 80% !important;
                  min-height: 70% !important;
                  max-height: 70% !important;
              }

          }

          .login-content {
              h4 {
                  color: #000;
                  font-size: 36px;
              }

              p {
                  color: #000;
                  font-size: 25px;
                  margin: 10px 0;
              }

              .userimg-sec {
                  .usericon {
                      display: flex;
                      flex-direction: row-reverse;

                      .userimg {
                          position: relative;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          flex-shrink: 0;
                          width: 40px;
                          height: 40px;
                          font-family: "Inter var", Roboto, Helvetica, Arial, sans-serif;
                          font-size: 2rem;
                          line-height: 1;
                          border-radius: 50%;
                          overflow: hidden;
                          user-select: none;
                          margin-left: -8px;
                          margin-left: -8px;
                          border: 2px solid #FAFAFA;
                          box-sizing: content-box;
                      }
                  }

                  h5 {
                      color: #000;
                      margin-left: 10px;
                  }
              }
          }
      }